$small: 720px;
$medium: 1200px;

.main_features_container {
    background: #F9F9F9;
}

.land_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.land {
    margin-left: 10rem;
}
.main_features_container h4 {
    width: 693px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    color: #234816;

}


.main_features_container p {
    width: 667px;
    margin-top: 13px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #234816;

}


.land_picture {
    margin-right: 10rem;
}

.beans_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.beans {
    margin-right: 10rem;
}


.beans_picture {
    margin-left: 10rem;
}


.resource_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.resource {
    margin-left: 10rem;
}


.resource_picture {
    margin-right: 10rem;
}


.market_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.market {
    margin-right: 10rem;
}

.market_picture {
    margin-left: 10rem;
}

.sustainability_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.sustainability {
    margin-left: 10rem;
}

.sustainability_picture {
    margin-right: 10rem;
}



.risk_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.risk {
    margin-right: 10rem;
}

.risk_picture {
    margin-left: 10rem;
}


.collaborations_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.collaborations {
    margin-left: 10rem;
}

.collaborations_picture {
    margin-right: 10rem;
}

.transparency_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.transparency {
    margin-right: 10rem;
}

.transparency_picture {
    margin-left: 10rem;
}

@media screen and (max-width: $medium) {
    .land_main {
     display: block;
    }
 
    .beans_main {
     display: block;
     padding-top: 40px;
    }
 
    .resource_main {
     display: block;
     padding-top: 40px;
    }
 
    .collaborations_main {
     display: block;
     padding-top: 40px;
    }
 
    .market_main {
     display: block;
     padding-top: 40px;
    }
 
    .sustainability_main {
     display: block;
     padding-top: 40px;
    }
 
    .risk_main {
     display: block;
     padding-top: 40px;
    }
    
    
     .transparency_main {
         display: block;
         padding-top: 40px;
         padding-bottom: 50px;
     
     }
 
     .land {
         margin-left: 0rem;
        
     }
 
     .beans {
     margin-right: 0rem;
 
 }
 
 .resource {
     margin-left: 0rem;
 
 }
 
 .market {
     margin-right: 0rem;
     
 }
 
 .sustainability {
     margin-left: 0rem;
  
 }
 
 .risk {
     margin-right: 0rem;
   
 }
 
 .collaborations {
     margin-left: 0rem;
   
 }
 
 .transparency {
     margin-right: 0px;
 }
 
 
         .main_features_container h4{
             margin: auto;
             width: 100%;
             height: 50px;
             font-family: 'Inter';
             font-style: normal;
             font-weight: 800;
             font-size: 30px;
             line-height: 50px;
             text-align: center;
             color: #234816;
             
         }
 
         .main_features_container p{
            width: 100%;
            height: 60px;
            margin: auto;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 33px;
            text-align: center;
            color: #234816;
            padding-bottom: 40px;
         }
 
         .main_features_container img{
             display: none;
         }
 
         
 
 
     }


@media screen and (max-width: $small) {
   .land_main {
    display: block;
   }

   .beans_main {
    display: block;
    padding-top: 40px;
   }

   .resource_main {
    display: block;
    padding-top: 40px;
   }

   .collaborations_main {
    display: block;
    padding-top: 40px;
   }

   .market_main {
    display: block;
    padding-top: 40px;
   }

   .sustainability_main {
    display: block;
    padding-top: 40px;
   }

   .risk_main {
    display: block;
    padding-top: 40px;
   }
   
   
    .transparency_main {
        display: block;
        padding-top: 40px;
        padding-bottom: 50px;
    
    }

    .land {
        margin-left: 0rem;
       
    }

    .beans {
    margin-right: 0rem;

}

.resource {
    margin-left: 0rem;

}

.market {
    margin-right: 0rem;
    
}

.sustainability {
    margin-left: 0rem;
 
}

.risk {
    margin-right: 0rem;
  
}

.collaborations {
    margin-left: 0rem;
  
}

.transparency {
    margin-right: 0px;
}


        .main_features_container h4{
            margin: auto;
            width: 400px;
            height: 50px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 50px;
            text-align: center;
            color: #234816;
        }

        .main_features_container p{
            margin: auto;
            width: 400px;
            height: 60px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #234816;
        }

        .main_features_container img{
            display: none;
        }

        


    }

        








