$small: 768px;
$medium: 1200px;

.main_header {
    background-color: #1C400B;
    width: 100%;
}

.header_container {
    display: flex;
    justify-content: center;
}

.header_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.header_title h3 {
    margin-bottom: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}

.header_title p {
    width: 767px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.left_leaves {
    background-image: url(../../icons/left-leaves.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

.right_leaves {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: $medium) {
    .header_title h3 {
        margin-bottom: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 50px;
        text-align: center;
        color: #FFFFFF;

    }
    
    
    .header_title p {
        width: 745px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
    }

  }


@media screen and (max-width: $small) {
    .header_title {
        margin-top: 200px;
    }
    
    .header_title h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 50px;
        text-align: center;
        color: #FFFFFF;

    }
    
    
    .header_title p {
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
    }

  }